@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;900&display=swap');

@font-face {
    font-family: "Indiana-Jonas";
    src: url("/fonts/Indiana-Jonas-48p.otf");
}

@font-face {
    font-family: "Catalish";
    src: url("/fonts/CatalishHuntera-jEAwM.otf");
}


$primary_brown :#502A1D;
$primary_yellow: #e1c644;
$primary_cream: #f9eed3;
$primary_white: #fff;
$secundary_orange: #f26522;
$secundary_green: #008269;

$title: "Indiana-Jonas", sans-serif;
$subtitle: "Catalish", sans-serif;
$paragraph: 'Poppins',
    sans-serif;