@import "../../../../sass/brand.scss";
.section{
    background-color: $secundary_orange;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    height: 32rem;

    &__content{
        width: 90%;
        height: 100%;
        padding: 2rem;
        box-shadow: 6px 11px 19px -5px #ffffff60;
        border: solid 3px $primary_brown;
        & form{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            & Button{
                background-color: $secundary_orange;
                color: white;
                border-color: white;

                &:hover{
                    background-color: white;
                    border-color: $secundary_orange;
                    color: $secundary_orange;
                }
            }
        }

    }

}
