@import "../../../sass/brand.scss";

.input{
    width: 100%;
    height: 5rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    & label{
        font-weight: 500;
        font-family: $paragraph;
    }

    & input{
        outline: none;
        font-family: $paragraph;
        font-weight: 500;
        width: 100%;
        height: 3rem;
        border: none;
        background-color:#f9eed34f;
        border-radius: 0.5rem;
        padding: 1rem;

        &:focus{
            outline: none;
            background-color: $primary_cream;
            border: solid $secundary_orange;
            color: $secundary_orange;

        }
    }




}